.add-product {
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  padding: 20px 50px;
  padding-bottom: 2px;
  margin: 10px 30px 0;
  border-radius: 6px;
  background: white;
}

.add-product-item-field {
  width: 100%;
  color: #7b7b7b;
  font-size: 14px;
}

.add-product-item-field input {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  border-radius: 4px;
  padding-left: 15px;
  border: 1px solid #c3c3c3;
  outline: none;
  color: #7b7b7b;
  font-family: "Poppins";
  font-size: 14px;
}

.add-product-item-field input:focus {
  border: 1px solid black;
}

.add-product-price {
  display: flex;
  gap: 40px;
}

.add-product-selector {
  padding: 10px;
  width: 100px;
  height: 50px;
  font-size: 14px;
  color: #7b7b7b;
  border: 1px solid #7b7b7b8d;
  border-radius: 4px;
}

.add-product-thumbnail-img {
  height: 120px;
  width: 120px;
  border-radius: 10px;
  object-fit: contain;
  margin: 5px 0;
}

.add-product-btn {
  margin-top: 10px;
  width: 160px;
  height: 50px;
  border-radius: 6px;
  background: #5d2467;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 14px;
  font-weight: 500;
}

.add-product-btn:hover {
  background: #4b1e5a;
}
.size-options {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.size-options label {
  font-size: 14px;
  color: #7b7b7b;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.size-options input[type="checkbox"] {
  margin-right: 5px;
  transform: scale(1.2);
}

.add-product-item-field textarea {
  width: 100%;
  height: 80px; /* Điều chỉnh chiều cao */
  border-radius: 4px;
  border: 1px solid #c3c3c3;
  padding: 10px;
  font-size: 14px;
  color: #7b7b7b;
  font-family: "Poppins";
  outline: none;
}

.add-product-item-field textarea:focus {
  border: 1px solid black;
}

.add-product-image-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.add-product-image-preview img {
  width: 70%;
}
@media (max-width: 1400px) {
  .add-product-image-preview img {
    display: none;
  }
}

@media (max-width: 800px) {
  .add-product {
    width: auto;
    padding: 30px;
    margin: 20px;
  }
}
