.notfound-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f9fafb;
  padding: 1rem;
  text-align: center;
}

.notfound-icon {
  width: 6rem;
  height: 6rem;
  color: #9ca3af;
  margin-bottom: 1.5rem;
}

.notfound-title {
  font-size: 2.25rem;
  font-weight: bold;
  color: #374151;
  margin-bottom: 0.5rem;
}

.notfound-description {
  color: #4b5563;
  margin-bottom: 1.5rem;
}

.notfound-button {
  padding: 0.8rem 1.2rem;
  background-color: rgb(86, 64, 129);
  color: white;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.notfound-button:hover {
  background-color: #172554;
}
