.navbar {
  display: flex;
  justify-content: space-around;
  padding: 16px;
  box-shadow: 0 1px 3px -2px black;
  /* background: linear-gradient(to right, #c2a2c4, #ffffff, #c2a2c4); */
  background: #f8f8f8;
  align-items: center;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-logo img {
  width: 15%;
}

.nav-logo p {
  color: #321970;
  font-size: 35px;
  font-weight: 600;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
  color: #564081;
  font-size: 20px;
  font-weight: 600;
  margin-right: 20px;
}

.nav-menu li {
  cursor: pointer;
  padding-top: 0.25rem; /* py-1 */
  padding-bottom: 0.25rem;
  position: relative;
  transition: color 0.3s ease-in-out;
}

.nav-menu li:hover {
  color: #380353;
}

.nav-menu li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #4e319e; /* bg-gray-500 */
  height: 2px; /* h-0.5 */
  width: 0;
  transition: width 0.3s ease-in-out;
}

.nav-menu li:hover::after {
  width: 100%;
}

.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 45px;
}

.login-button {
  background: #564081;
  color: #fff;
  padding: 15px 30px;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.login-button:hover {
  background: #330647;
}

.nav-cart-count {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -35px;
  margin-left: -55px;
  border-radius: 11px;
  font-size: 14px;
  background: red;
  color: white;
}
.nav-dropdown {
  display: none;
}

.dropdown-container {
  position: relative;
}

.dropdown-button {
  background-color: #564081;
  padding: 15px 20px;
  border-radius: 9999px;
  color: #ffffff;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  margin-top: 8px;
  width: 192px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  z-index: 1000;
}

.user-icon {
  display: inline;
}

.user-name {
  display: inline;
}

.dropdown-item {
  padding: 10px 16px;
  transition: background-color 0.2s;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #e5e7eb;
}

@media (max-width: 1280px) {
  .navbar {
    padding: 12px 50px;
  }
  .nav-logo img {
    width: 40px;
  }
  .nava-logo p {
    font-size: 25px;
  }
  .nav-menu {
    gap: 30px;
    font-size: 16px;
  }
  .nav-login-cart {
    gap: 30px;
  }
  .nav-login-cart .login-button {
    width: 120px;
    height: 45px;
    font-size: 16px;
  }
  .nav-cart-count {
    margin-left: -40px;
    font-size: 12px;
  }
}

@media (max-width: 1024px) {
  .navbar {
    padding: 12px 30px;
  }
  .nav-menu {
    gap: 25px;
    font-size: 14px;
  }
  .nav-login-cart .login-button {
    width: 120px;
    height: 45px;
    font-size: 14px;
  }
  .nav-login-cart img {
    width: 30px;
  }
  .nav-cart-count {
    width: 18px;
    height: 18px;
  }
  .user-name {
    display: none;
  }
  .dropdown-button {
    padding: 8px 12px;
    font-size: 14px;
  }
}
@media (max-width: 800px) {
  .navbar {
    padding: 10px 0px;
  }
  .nav-dropdown {
    display: block;
    width: 30px;
    rotate: -90deg;
    transition: 0.5s;
  }
  .nav-menu {
    display: none;
    height: 80px;
    width: 100%;
    position: absolute;
    background-color: white;
    justify-content: center;
    top: 50px;
  }
  .nav-menu-visible {
    display: flex;
  }
  .nav-dropdown.open {
    transform: rotate(90deg);
  }
}
@media (max-width: 500px) {
  .navbar {
    padding: 8px 0px;
    gap: 0;
  }
  .nav-logo {
    transform: scale(0.8);
  }
  .nav-menu {
    height: 70px;
    top: 50px;
  }
  .nav-login-cart {
    transform: scale(0.8);
  }
}
