.navbar {
  display: flex;
  justify-content: space-around;
  padding: 16px;
  box-shadow: 0 1px 3px -2px black;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-logo img {
  width: 15%;
}

.nav-logo p {
  color: #321970;
  font-size: 35px;
  font-weight: 600;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
  color: #564081;
  font-size: 20px;
  font-weight: 600;
}

.nav-menu li {
  cursor: pointer;
  padding-top: 0.25rem; /* py-1 */
  padding-bottom: 0.25rem;
  position: relative;
  transition: color 0.3s ease-in-out;
}

.nav-menu li:hover {
  color: #380353;
}

.nav-menu li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #4e319e; /* bg-gray-500 */
  height: 2px; /* h-0.5 */
  width: 0;
  transition: width 0.3s ease-in-out;
}

.nav-menu li:hover::after {
  width: 100%;
}

.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 45px;
}

.nav-login-cart button {
  background: #564081;
  color: #fff;
  padding: 15px 30px;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.nav-login-cart button:active {
  background: #330647;
}

.nav-cart-count {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -35px;
  margin-left: -55px;
  border-radius: 11px;
  font-size: 14px;
  background: red;
  color: white;
}
