* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

.login-signup {
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, #704172, #e1ffea22 60%);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.login-signup-container {
  width: 100%;
  max-width: 680px;
  background: white;
  padding: 50px 70px;
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.login-signup-container h1 {
  margin: 20px 0;
  font-size: 28px;
}

.login-signup-fields {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 30px;
}

.login-signup-fields p {
  font-size: 20px;
  font-weight: 600;
}

.login-signup-fields input {
  margin-top: 10px;
  width: 100%;
  max-width: 650px;
  height: 60px;
  padding: 12px;
  outline: none;
  color: #5c5c5c;
  font-size: 18px;
  border: 2px solid #d1d5db;
  border-radius: 12px;
  transition: all 0.2s;
}

.login-signup-fields input:focus {
  border-color: black;
}

.login-signup-showPassword {
  position: absolute;
  color: rgb(4, 4, 29);
  cursor: pointer;
  top: 40%;
  right: 15px;
}

.login-signup button {
  width: 100%;
  max-width: 650px;
  height: 60px;
  color: white;
  background: #e08585;
  margin-top: 30px;
  border: none;
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 12px;
  transition: background 0.2s;
}

.login-signup button:hover {
  background: red;
}

.login-signup-login {
  margin-top: 20px;
  color: #5c5c5c;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.login-signup-login span {
  color: #ff4141;
  font-weight: 600;
  cursor: pointer;
}

.login-signup-agree {
  display: flex;
  align-items: center;
  margin-top: 25px;
  gap: 10px;
  color: #5c5c5c;
  font-size: 18px;
  font-weight: 500;
}

.login-signup-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-signup-image img {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin-bottom: 50px;
}

@media (max-width: 1280px) {
  .login-signup {
    gap: 50px;
  }

  .login-signup-container {
    max-width: 600px;
    padding: 40px 50px;
  }

  .login-signup-fields input,
  .login-signup button {
    max-width: 550px;
  }

  .login-signup-image img {
    max-width: 700px;
  }
}

@media (max-width: 1024px) {
  .login-signup {
    flex-direction: column;
    height: auto;
    padding: 40px 20px;
    gap: 40px;
  }

  .login-signup-container {
    max-width: 550px;
  }

  .login-signup-fields input,
  .login-signup button {
    max-width: 500px;
  }

  .login-signup-image img {
    max-width: 500px;
  }
  .login-signup-login {
    font-size: 18px;
  }
  .login-signup-agree {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .login-signup-container {
    max-width: 500px;
  }

  .login-signup-fields input,
  .login-signup button {
    max-width: 100%;
  }

  .login-signup-image img {
    max-width: 400px;
  }
  .login-signup-login {
    font-size: 18px;
  }
  .login-signup-agree {
    font-size: 17px;
  }
}

@media (max-width: 500px) {
  .login-signup {
    flex-direction: column;
    padding: 30px 10px;
  }

  .login-signup-container {
    width: 100%;
    padding: 25px;
  }

  .login-signup-container h1 {
    font-size: 24px;
  }

  .login-signup-fields p {
    font-size: 18px;
  }

  .login-signup-fields input {
    height: 50px;
    font-size: 16px;
  }

  .login-signup button {
    height: 50px;
    font-size: 18px;
  }

  .login-signup-image img {
    max-width: 300px;
  }
  .login-signup-login {
    font-size: 16px;
  }
  .login-signup-agree {
    font-size: 15px;
  }
}
